# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLite databases
*.db
*.sqlite3

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# IDE/editor settings
.vscode/
.idea/

# Logs
*.log

# Jupyter Notebooks
*.ipynb

# Secrets
credentials.json
token.json
config.py
token.pickle